/* 无边框需要拖动的hack写法 */
html, body {
    height:100%;
    margin:0;
}
#container {
    height: 100%;
}
#user-command {
    -webkit-app-region: drag;
    position: fixed;
    left: 0;
    top: 0;
    height: 30px;
    width: 100%;
    background-color:rgba(0,0,0,0.2);
}
#user-command button {
    -webkit-app-region: no-drag;
}
#content-container {
    padding: 30px 0 0 0;
}
.setting-init, .setting-show {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    background: aquamarine;
    display: flex;
    flex-flow: column;
}
.setting-init {
    height: 0;
}
.setting-show {
    height: 20%;
}
.setting-item {
    flex: 1;
}
#color-palette {
    display: flex;
    flex-flow: row;
}
#color-palette .color-pick {
    flex: 1;
}
#color-palette .color-pick:hover {
    flex: 1;
    font-weight: bolder;
}