/* 无边框需要拖动的hack写法 */
body {
    -webkit-app-region: drag;
    background-color: grey;
}
button, input {
    -webkit-app-region: no-drag
}

.item {
    -webkit-app-region: no-drag
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
