#container {
    padding: 0 15px;
}

#container h1 {
    margin: 5px 0;
    font-size: 22px;
}

#search {
    border: 0;
    outline: none;
    background-color: lightgray;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

#list {
    display: flex;
    flex-direction: column;
}
#list div {
    background-color: aquamarine;
    margin-top: 10px;
    padding: 10px;
}
#list div {
    background-color: aquamarine;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

#list div time {
    text-align: right;
    font-size: xx-small;
    color: rgba(0, 0, 0, 0.4);
}

.fold {
    background:
        linear-gradient(to left top, transparent 50%, rgba(0, 0, 0, 0.4) 0) no-repeat 100% 100% / 1.4em 1.4em,
        linear-gradient(-45deg, transparent 1em, #58a 0);
}