#setting-command {
    display: flex;
    flex-direction: column;
}
#setting-command .item-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

#setting-command h4 {
   margin: 0 20px;
   padding: 0;
}