<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <link rel="stylesheet" type="text/css" href="../styles/item.css">
  <title>人生日历</title>
</head>

<body>
  <div id="container">
    <div id="user-command">
      <button id="add">+</button>
      <button id="menu">...</button>
      <button id="exit">X</button>
      <button id="pin">Pin</button>
    </div>
    <div id="user-setting" class="setting-init">
      <div id="color-palette" class="setting-item">待渲染</div>
      <div id="show-list" class="setting-item">show-list</div>
      <div id='delete' class="setting-item">delete</div>
    </div>
    <div id="content-container">
      <p id="tip">根据下面内容渲染</p>
      <input type="text" id="content" placeholder="记下生命中的重要时刻...">
      <input type="datetime-local" name="" id="content-dt">
      <input type="date" name="" id="content-date">
      <input type="time" name="" id="content-time">
    </div>
  </div>
  <script src="../javascript/item.js"></script>
</body>

</html>