<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../styles/item.css">
  <link rel="stylesheet" type="text/css" href="../styles/iconfont.css">
  <title>人生日历</title>
</head>

<body>
  <div id="container">
    <div id="user-command">
      <button id="add">
        <span class="iconfont icon-add"></span>
      </button>
      <button id="menu">
        <span class="iconfont icon-more"></span>
      </button>
      <button id="exit">
        <span class="iconfont icon-close"></span>
      </button>
      <button id="pin">
        <span class="iconfont icon-pin"></span>
      </button>
    </div>
    <div id="user-setting" class="setting-init">
      <div id="color-palette" class="setting-item">待渲染</div>
      <div id="show-list" class="setting-item">
        <span class="iconfont icon-other"></span>
      </div>
      <div id='delete' class="setting-item">
        <span class="iconfont icon-trash"></span>
      </div>
    </div>
    <div id="content-container">
      <p id="tip">根据下面内容渲染</p>
      <input type="text" id="content" placeholder="记下生命中的重要时刻...">
      <br>
      <input type="date" name="" id="content-date">
      <input type="time" name="" id="content-time">
      <br>
      <input type="radio" name="content-type" id="second">秒<br>
      <input type="radio" name="content-type" id="minute">分<br>
      <input type="radio" name="content-type" id="hour">小时<br>
      <input type="radio" name="content-type" id="day">天<br>
      <input type="radio" name="content-type" id="full">自然年月日时分秒<br>
    </div>
  </div>
  <script src="../javascript/item.js"></script>
</body>

</html>