<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../styles/common.css">
  <link rel="stylesheet" type="text/css" href="../styles/list.css">
  <link rel="stylesheet" type="text/css" href="../styles/iconfont.css">
  <title>人生日历</title>
</head>

<body>
  <div>
    <div id="user-command">
      <button id="add" title="add">
        <span class="iconfont icon-add"></span>
      </button>
      <button id="setting" title="setting">
        <span class="iconfont icon-setup"></span>
      </button>
      <button id="close">
        <span class="iconfont icon-close"></span>
      </button>
    </div>
    <div id="container">
      <div>
        <h1>人生海海</h1>
      </div>
      <div>
        <input placeholder="搜索..." type="search" id="search">
      </div>
      <div id="list">
        <div class="item">
          <time>22:11</time>
          <p>示例数据</p>
        </div>
      </div>
    </div>
  </div>
  <script src="../javascript/list.js"></script>
</body>

</html>