<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../styles/common.css">
  <link rel="stylesheet" type="text/css" href="../styles/setting.css">
  <link rel="stylesheet" type="text/css" href="../styles/iconfont.css">
  <title>人生日历</title>
</head>

<body>
  <div id="container">
    <div id="user-command">
      <button id="back">
        <span class="iconfont icon-back"></span>
      </button>
      <button id="close">
        <span class="iconfont icon-close"></span>
      </button>
    </div>
    <div id="setting-command">
      <label for="login">开机登录</label>
      <input type="checkbox" name="login" id="login">
      <br>
      <label for="open">显示列表</label>
      <input type="checkbox" name="open" id="open">
    </div>
  </div>
  <script src="../javascript/setting.js"></script>
</body>

</html>