<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <link rel="stylesheet" type="text/css" href="../styles/setting.css">
  <title>人生日历</title>
</head>

<body>
  <div id="container">
    <div id="user-command">
      <button id="back">BACK</button>
      <button id="close">X</button>
    </div>
    <div id="setting-command">
      <label for="login">开机登录</label>
      <input type="checkbox" name="login" id="login">
      <br>
      <label for="open">显示列表</label>
      <input type="checkbox" name="open" id="open">
    </div>
  </div>
  <script src="../javascript/setting.js"></script>
</body>

</html>