<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <link rel="stylesheet" type="text/css" href="../styles/setting.css">
  <title>人生日历</title>
</head>

<body>
  <div id="container">
    <div id="user-command">
      <button id="back">BACK</button>
      <button id="close">X</button>
    </div>
    <div class="setting-item">
      <h2>general</h2>
      <!-- <div class="switch">
        <input class="switch-checkbox" id="onoffswitch" type="checkbox">
        <label class="switch-label" for="onoffswitch">
          <span class="switch-inner" data-on="ON" data-off="OFF"></span>
          <span class="switch-switch"></span>
        </label>
      </div> -->
      <label for="confirm">删除前确认</label>
      <input type="checkbox" id="confirm">
    </div>
    <div class="setting-item">
      <h2>color</h2>
      <input type="radio" id="contactChoice1" name="contact" value="email">
      <label for="contactChoice1">Email</label>

      <input type="radio" id="contactChoice2" name="contact" value="phone">
      <label for="contactChoice2">Phone</label>

      <input type="radio" id="contactChoice3" name="contact" value="mail">
      <label for="contactChoice3">Mail</label>
    </div>
    <div class="setting-item">
      <h2>help</h2>
    </div>
    <div class="setting-item">
      <h2>about</h2>
    </div>
  </div>
  <script src="../javascript/setting.js"></script>
</body>

</html>